<script>
    const avatar = document.querySelector('.image.avatar');

    avatar.addEventListener('mouseover', function() {
        avatar.classList.add('enlarge'); // Add the enlarge class to the avatar photo
    });

    avatar.addEventListener('mouseleave', function() {
        avatar.classList.remove('enlarge'); // Add the enlarge class to the avatar photo
    });

    // get the navbar height
    const navbarHeight = document.querySelector('.navbar').offsetHeight;

    // get all the links that point to an anchor
    const anchorLinks = document.querySelectorAll('a[href^="#"]');

    // loop through each anchor link
    anchorLinks.forEach(link => {
    // add an event listener for when the link is clicked
    link.addEventListener('click', function(e) {
        // prevent the default behavior of the link
        e.preventDefault();

        {{ if .Site.Params.google_analytics }}
        gtag('event', 'click', {
            'event_category': 'Section',
            'event_label': this.getAttribute("href"),
            'transport_type': 'beacon'
        });
        {{ end }}

        // get the id of the anchor from the link's href attribute
        const anchorId = link.getAttribute('href').slice(1);

        // get the anchor element
        const anchor = document.getElementById(anchorId);

        // calculate the scroll position with offset value
        const scrollPosition = anchor.offsetTop - navbarHeight;

        // scroll to the anchor with offset value
        window.scrollTo({
        top: scrollPosition,
        behavior: 'smooth'
        });
    });
    });
</script>
<script>
(function() {
    const element = document.querySelector('nav.navbar');

    window.addEventListener('scroll', () => {
    if (window.pageYOffset > 0) {
        element.classList.add('scrolled');
    } else {
        element.classList.remove('scrolled');
    }
    });
})()
</script>
{{ with resources.Get "/assets/js/scale.fix.js"  }}
<script src="{{ .RelPermalink }}"></script>
{{ end }}
